{% extends "UserBundle::layout.html.twig" %}

{% block title %}Gitlin - {{ compte.nom }}{% endblock %}
{% block contenu %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {{ compte.nom }} {{ compte.numeroCompte }} {{solde}}

                {% if passeuil %}
                <a href="{{ path('creerSeuil', {'id' : compte.id} )}}"  >
                    Pas de seuil associez </a>
                {% else %}
                    <a href="{{ path('modifSeuil', {'id' : seuil.id} )}}"  >
                        Seuil : {{ seuil.seuil }} </a>
                {% endif %}

                <a href="{{ path('creerOperation', {'id' : compte.id} )}}" class="close confirm-del-fiche" ><span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Montant</th>

                        <th>Supprimer</th>

                    </tr>

                    {% for operation in operations %}

                        <tr>
                            <td>{{ operation.nom }}</td>
                            <td>
                            {% if operation.type %}
                                +
                            {% else %}
                                -
                            {% endif %}
                            {{ operation.montant }}</td>


                            <td>
                                <a href="{{ path('supprOperation', {'id' : operation.id} )}}" class="close confirm-del-fiche" ><span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </td>


                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}