{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4 col-md-offset-4 container-block margin-top">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">


            {{ form_errors(form) }}

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                {{ form_widget (form.email, {'attr':
                {'class': 'form-control' , 'placeholder' : 'Adresse eMail'}}) }}
            </div> </br>

            <div class="input-group">

                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ form_widget (form.username, {'attr':
                {'class': 'form-control' , 'placeholder' : "Nom d'utilisateur"}}) }}
            </div> </br>


            <div class="input-group">

                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                {{ form_widget (form.plainPassword.first, {'attr':
                {'class': 'form-control' , 'placeholder' : 'Mot de passe'}}) }}
            </div> </br>

            <div class="input-group">

                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                {{ form_widget (form.plainPassword.second, {'attr':
                {'class': 'form-control' , 'placeholder' : 'Confirmation'}}) }}

            </div> </br>

            {{ form_rest(form) }}


            <input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ 'Inscription'|trans }}" />

        </form>
    </div>
   </div>