{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">



    {{ form_errors(form) }}




    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

    Nom d'utilisateur
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}

    <div class="form-group">
        {{ form_label (form.plainPassword.first, null, {'label_attr': {'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-3">
            {{ form_widget (form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
    </div>


    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}

    {{ form_rest(form) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
